#container{
    background-image: url("bodybg.jpg");
    background-position: right top;
    background-size: 100%;
    opacity: 0.9;
    color: white
}
#table{
    margin: auto;
    width: 100%;
    border: 0px;
    /* background-color: rgba(51, 42, 42, 0.651) */
}
#cvpics{
    width: 210px; 
    height: 250px;
    border: 1px red solid;
    border-radius: 50px

}
#aboutme1{
    /* background-color: brown; */
    /* border: 1px red solid; */
}
#skil{
    background-color: brown;
    border: 1px red solid;
}
#logo{
    width: 150px;
    height: 50px;
    text-align: center
}
#myName{
    background-color: rgba(74, 74, 241, 0.589);
    box-shadow: 3px 3px grey;
}
a{
    color: white
}
