body{
    background-color: grey;
    color: black;
}
#container{
    padding: 0px;
    background-color: white;
    margin: auto;
    width: 80%;
}
#clr{
    clear: both;
}

#logo{
    position: absolute;
    width: 150px;
    height: 50px;
    margin: 15px;
}

/*Title section*/
#title{
    background-image: url('https://res.cloudinary.com/fas3a/image/upload/v1567696126/faspics4_l8yiuk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: brown;
    color: white;
    background-size: cover;
    height: 400px;
    position: relative;
    width: 100%;
}
#title p{
    font-size: 30px;
    text-align: left;
    padding: 120px 30px 0px 30px;
    letter-spacing: 5px;
    color: coral
}

#title h3{
    text-align: left;
    color:white;
    font-size: 25px;
    padding: 0px 30px;
}

/*styling the information section*/
.info{
    padding-top: 2px;
    width:50%;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 20px;
    position: absolute;
}

.info ul{
    list-style: none;
}


/*styling the picture and Personnal details*/
.head{
    border: 1px solid red;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.picture{
    float: left;
    border-radius: 35px;
    border: 1px solid;
    box-sizing: border-box;
}
img{
    height: 250px;
    width: 200px;
}

/*Styling the academic section*/
.academic{
    float: left;
    width: 31%;
    border: 1px solid pink;
    padding: 2px;
    box-sizing: border-box;
    margin: 10px 10px;
}

.academic h3{
    text-align: center;
    letter-spacing: 2px;
}

/*styling the experience section*/
#experience{
    border: 1px outset pink;

    margin: 10px 10px;
}

#experience h3{
    text-align: center;
    letter-spacing: 2px;
}

#experience h4{
    padding-left: 20px;
    padding-bottom: 0px;
    color: rebeccapurple;
    font-size: 1.15em;
}

#experience ul{
    line-height: 20px;
}

hr{
    width: 60%;
    background-color: brown;
    size: 10px;
}

/*Styling the footer*/
#footer{
    background-color: black;
    text-align: right;
    padding: 2px;
    color: white;
    display: block;
    font-size: 20px;
}
#footer button:hover{
    background-color: red;
}
#footer a{
    color: white
}

/*Styling the pop up contact form*/
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container textarea, .form-container input[type=email]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=email]:focus .form-container textarea:focus{
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }